    <!-- Contact Start -->
    <div class="container-xxl py-5 limit-width ">
        <div class="container">
            <!--div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="fw-medium text-uppercase text-primary mb-2">Get In Touch</p>
            </div-->
            <br><br>
            <div class="row g-5 d-flex justify-content-between mb-5">
                <div class="col-lg-6" >
                    <h1 class="display-6 mb-4"><i class="fas fa-ship"></i>Let’s Move Your Cargo</h1>
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <div class="">
                        <div class="ms-3">
                            <a href="contact.html" class="btn btn-primary py-2 px-3 radius">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5 justify-content-center mb-5">
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="text-center ">
                        <div class="btn-square bg-white rounded-circle mx-auto mb-4" style="width: 30px; height: 30px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <h6 class="mb-3">Greece Phone Number</h6>
                        <a href="tel:+30 699 705 9178"><p class="mb-2">+30 699 705 9178</p></a>
                        <h6 class="mb-3">Singapore Phone Number</h6>
                        <a href="tel:+65 830 040 36"><p class="mb-2">+65 830 040 36</p></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="text-center  ">
                        <div class="btn-square bg-white rounded-circle mx-auto mb-4" style="width: 30px; height: 30px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <h6 class="mb-3">Email Address</h6>
                        <a href="mailto:contact@brightflowlc.com"><p class="mb-2">contact@brightflowlc.com</p></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="text-center ">
                        <div class="btn-square bg-white rounded-circle mx-auto mb-4" style="width: 30px; height: 30px;">
                            <i class="fa fa-map-marker-alt  text-primary"></i>
                        </div>
                        <h6 class="mb-3">Greece Office Address</h6>
                        <a href="https://maps.app.goo.gl/GwajiSckycNi8iz78"><p class="mb-2">30 Pindarou, Ag.Anargyroi 13562, Greece</p></a>
                        <h6 class="mb-3">Singapore Office Address</h6>
                        <a href="https://maps.app.goo.gl/GwajiSckycNi8iz78"><p class="mb-2">68 Circular Road #02-01, Singapore 049422</p></a>
                    </div>
                </div>
            </div>
            <div class="row g-5 justify-content-center" id="map-form" style="display:none;">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row mb-5" id="map" style="display:block">
                        <div class="col-12 wow fadeInUp" data-wow-delay="0.1s" style="overflow:hidden;">
                            <iframe 
                                src="https://www.google.com/maps/d/u/0/embed?mid=1hbhVkW-NOX7SEkLmgdpHHeBnoYJHajM&ehbc=2E312F&noprof=1"
                                class="w-100"
                                style="min-height: 450px; border:0;margin-top:-50px;"
                                allowfullscreen="" 
                                loading="lazy" 
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp " data-wow-delay="0.5s">
                    <p>Send us a message. Feel free to reach out to us by filling out the form below, and we will be happy to assist you!</p>
                    <form action="send_email.php" method="POST">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name" aria-label="Full Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email" aria-label="Email Address">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject" aria-label="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message"
                                        style="height: 150px" aria-label="Message"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-2 px-3 radius" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->