    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 limit-width" >
        <div class="container ">
            <div class="row g-5">
                <!--div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-4">Greece Office</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i><a href="https://maps.app.goo.gl/Y4wHhFkepzg5gQwz5">30 Pindarou, Ag.Anargyroi 13562, Greece</a></p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><a href="tel:+30 699 705 9178">+30 699 705 9178</a></p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i><a href="mailto:contact@brightflowlc.com">contact@brightflowlc.com</a></p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-4">Singapore Office</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i><a href="https://maps.app.goo.gl/PgQb7V6uXYSSAdgf7">68 Circular Road #02-01, Singapore 049422</a></p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><a href="tel:+65 830 040 36">+65 830 040 36</a></p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i><a href="mailto:contact@brightflowlc.com">contact@brightflowlc.com</a></p>
                </div-->
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="about.html">About Us</a>
                    <a class="btn btn-link" href="contact.html">Contact Us</a>
                    <a class="btn btn-link" href="service.html">Our Services</a>
                    <a class="btn btn-link" href="sustainability.html">Sustainability</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->