 <!-- Service Start-->
    <div class="container-fluid bg-dark footer mt-5 py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="fw-medium text-uppercase text-primary mb-2">Our Services</p>
                <h1 class="display-6 text-white mb-4">We transform logistics into advantage.</h1>
            </div>
            <div class="row pt-2 gy-3 gx-3 d-flex justify-content-center">
                <div class="d-flex justify-content-center"> 
                    <div class="col-6 d-flex justify-content-end" style="margin-right:5px">
                        <a href="service.html" class="btn btn-primary py-3 px-4 radius">Learn more</a>
                    </div>
                    <div class="col-6 d-flex justify-content-start" style="margin-left:5px">
                        <a href="contact.html" class="btn btn-primary py-3 px-4 radius">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="row pt-5 gy-5 gx-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="/img/ezgif-frame-001.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Marine Logistics</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Forwarding ship spares from suppliers to vessels in the most efficient and  cost-effective way.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="img/service-2.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Warehouse & Digital Inventory management</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Utilizing strategically positioned warehouses and  digital platform with real-time visibility and smooth Purchase Order management.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="img/service-3.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-3.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Customs & Compliance</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Seamless handling of clearance, regulations, and documentation worldwide.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-5 gx-4 d-flex justify-content-around">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="img/service-1.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">General & Project Logistics</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">From general cargo to specialized and unique operations , providing tailored transport solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.9s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="img/service-2.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Logistics Strategy & Consulting </h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">We act as your internal consultant to optimize logistics, reduce costs, and assist with your in-house department.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>