 <!-- Service Start-->
    <div class="container-fluid mt-5 py-5 limit-width">
        
    <hr id="myline" />
        <div class="row container">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <!--p class="fw-medium text-uppercase text-primary mb-2">About Us</p-->
                <h2 class="display-5 mb-4">Our Services</h2>
                <p class="display-6 mb-3" style="font-size: 18px;">We transform logistics into advantage</p>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="row pt-2 gy-3 gx-3 ">
                    <div class="d-flex justify-content-end"> 
                        <div class="col-6 d-flex justify-content-end" style="margin-right:5px">
                            <a href="service.html" class="btn btn-primary py-2 px-3 reverseFontButtons radius">Learn more</a>
                        </div>
                        <div class="col-6 d-flex justify-content-start" style="margin-left:5px">
                            <a href="contact.html" class="btn btn-primary py-2 px-3 radius">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row pt-2 gy-5 gx-4">
                <div class="col-md-6 col-lg-4 ">
                    <div class="service-item1">
                        <div class="service-title">
                            <hr class="w-50">
                            <h3 class="mb-0">Marine Logistics</h3>
                        </div>
                        <div class="service-text pt-5">
                            <p class=" mb-0">Forwarding ship spares from suppliers to vessels in the most efficient and  cost-effective way.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ">
                    <div class="service-item1">
                        <div class="service-title">
                            <hr class="w-50">
                            <h3 class="mb-0">Warehouse & Digital Inventory management</h3>
                        </div>
                        <div class="service-text pt-5">
                            <p class=" mb-0">Utilizing strategically positioned warehouses and  digital platform with real-time visibility and smooth Purchase Order management.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ">
                    <div class="service-item1">
                        <div class="service-title">
                            <hr class="w-50">
                            <h3 class="mb-0">Customs & Compliance</h3>
                        </div>
                        <div class="service-text pt-5">
                            <p class=" mb-0">Seamless handling of clearance, regulations, and documentation worldwide.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>