<!-- Service Start-->

<div class="container-fluid  mt-5 py-5 limit-width">
    <div class="d-flex ">
        <div class="p-2 flex-fill">
            <h2 class="display-5 mb-4">Our Values</h2>
        </div>
    </div>
    <br>
    <div class="row pt-2 gy-5 gx-4">
        <div class="col-md-6 col-lg-4 ">
            <div class="service-item1">
                <div class="service-title">
                    <hr class="w-50">
                    <h3 class="mb-0">Reliability</h3>
                </div>
                <div class="service-text pt-5">
                    <p class=" mb-0">We deliver your cargo on time because every hour matters.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
            <div class="service-item1">
                <div class="service-title">
                    <hr class="w-50">
                    <h3 class="mb-0">Innovation</h3>
                </div>
                <div class="service-text pt-5">
                    <p class=" mb-0">We embrace smart solutions and digital tools to make logistics faster,
                                smarter, and more efficient.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
            <div class="service-item1">
                <div class="service-title">
                    <hr class="w-50">
                    <h3 class="mb-0">Service Excellence</h3>
                </div>
                <div class="service-text pt-5">
                    <p class=" mb-0">We provide personal, responsive, and dedicated support always putting your
                                needs first.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2 gy-5 gx-4">
        <div class="col-md-6 col-lg-4 ">
            <div class="service-item1">
                <div class="service-title">
                    <hr class="w-50">
                    <h3 class="mb-0">Integrity</h3>
                </div>
                <div class="service-text pt-5">
                    <p class=" mb-0">Transparency and trust are at the heart of every partnership, built through
                                honest communication and clear processes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
            <div class="service-item1">
                <div class="service-title">
                    <hr class="w-50">
                    <h3 class="mb-0">Sustainability</h3>
                </div>
                <div class="service-text pt-5">
                    <p class=" mb-0">Our commitment to responsible practices supports long-term growth for our
                                clients and the industry, while minimizing environmental impact</p>
                </div>
            </div>
        </div>
    </div>
</div>