 <!-- Service Start-->
    <div class="container-fluid bg-dark footer mt-5 py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <!--p class="fw-medium text-uppercase text-primary mb-2">Our Values</p-->
                <h1 class="display-6 text-white mb-4">Our Values</h1>
            </div>
            <!--div class="row pt-2 gy-3 gx-3 d-flex justify-content-center">
                <div class="d-flex justify-content-between"> 
                    <div class="col-5 d-flex justify-content-end">
                        <a href="services.html" class="btn btn-primary py-3 px-5 radius">Learn more</a>
                    </div>
                    <div class="col-5 d-flex justify-content-start">
                        <a href="contact.html" class="btn btn-primary py-3 px-5 radius">Contact Us</a>
                    </div>
                </div>
            </div-->
            <div class="row pt-5 gy-5 gx-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="/img/ezgif-frame-001.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Reliability</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">We deliver your cargo on time because every hour matters. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="img/service-2.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Innovation</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">We embrace smart solutions and digital tools to make logistics faster, smarter, and more efficient.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="img/service-3.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-3.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Service Excellence</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">We provide personal, responsive, and dedicated support always putting your needs first.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-5 gx-4 d-flex justify-content-around">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="img/service-1.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Integrity</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Transparency and trust are at the heart of every partnership, built through honest communication and clear processes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.9s">
                    <div class="service-item">
                        <img class="img-fluid-alt" src="img/service-2.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Sustainability</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Our commitment to responsible practices supports long-term growth for our clients and the industry, while minimizing environmental impact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>